.contactme h2 {
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 2rem;

  }

.contact-info {
    border: 1px solid #CFD8E2;
    width: 50rem;
    height: 25rem;
    margin: auto;
    text-align: center;
  
    & p {
      font-size: 2rem;
      margin: auto;
      padding: 2rem;
    }
    
}
  