/* footer.css */

footer {
    margin-top: 5rem;
    padding: 1.2rem;
    text-align: center;
    
  }
  
  .logo img {
    width: 6rem;
    margin-right: 3rem;
  }
  
  .social-icons {
    margin: 1rem;
    
  & a {
    margin-right: 0.5rem;
  }
   
  & img {
    width: 3rem;
    height: 3rem;

    &:hover {
        background-color: whitesmoke;
        border-radius: 50%;
        transition: 0.5s ease;
      }
  }
  }

  a {
      text-decoration: none;
      color: #CFD8E2;

      &:hover {
        color: #ff00c8ce;
        transition: 0.6s ease-in-out;
      }
    }
