/* home.css */

.homePage {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 5rem;
    margin-left: 25rem;
  
  
  & p {
    width: 30vw;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    font-style: italic;
 
  
  & span {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  } 
}
  
  & img {
    max-width: 520px;
    height: auto;
    border-radius: 30%;
  }
  
}
.social {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-left: 12rem;
    margin-top: 2rem;
}
 
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: #CFD8E2;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .linkedin {
    margin-top: 1.6em;
    margin-left: 1.8em;
    fill: #cc39a4;
  }
  
  .card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: #CFD8E2;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .codepen {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
  }
  
  .card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: #CFD8E2;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-top: -.5em;
    margin-left: 1.2em;
  }
  
  .card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: #CFD8E2;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .behance {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #08b1ff;
  }
  
  .card1:hover .linkedin {
    fill: #CFD8E2;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
  }
  
  .card2:hover .codepen {
    fill: #CFD8E2;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #67d4b0;
  }
  
  .card3:hover .github {
    fill:#CFD8E2;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #4255bd;
  }
  
  .card4:hover .behance {
    fill:#CFD8E2;
  }