/* navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #06235e;
    border-bottom: 1px solid #CFD8E2;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
  
  & ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-right: 3rem;

     & li {
        padding: 1rem;
  
      & a {
            text-decoration: none;    
            font-weight: bold;
            transition: color 0.3s;
            font-size: 1.8rem;
            padding: 1rem;
            
        
        &:hover {
            color: #ff00f2bd;
            transition: 0.3s ease-in-out;
        }
      }
    }
  }
& .logo {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    margin: 1rem;
    margin-left: 3rem;
   
    & a {
      
      transition: color 0.3s;
      text-decoration: none;

      &:hover {
        color: #ff00f2bd;
        transition: 0.6s ease-in-out;
      }
    }
  }
}
