@media (min-width: 496px) and (max-width: 768px)  { 
 
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    & .logo {
        font-size: 1.2rem;
        text-align: center;
        margin: auto;
    }

    & ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: auto;

     
      & li {
        padding-bottom: 0.2rem;
        padding-inline: 0.05rem;

        & a {
          font-size: 1rem;
        }
    
      }

    }
  }

  .homePage {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    margin-left: 5rem;
    margin-top: 2rem;

    & p {
      width: 40vw;
      font-size: 1rem;
      margin: auto;

      & span {
        font-size: 1rem;
      }
    }

    & img {
      width: 36vw;
      max-height: 20vh;
    }

    & .social {
     display: none;
    }
  }

  .aboutme {
    & h2 {
      font-size: 2rem;
    }
    & .paragraph {
      width: 60vw;
      font-size: 1rem;
      margin: auto;
    }

    & .all_skills {
      display: flex;
      flex-direction: row;
      gap: 0.2rem;

      & img {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  .projects {
     & h2 {
        font-size: 2rem;
     } 
     & .cards {
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;
        padding: 1rem;
        padding-inline-start: 3rem;

     }
  }

  .contactme {
    & h2 {
      font-size: 2rem;
    }
    & .contact-info {
      width: 60vw;
      height: 40vh;
    }
    & p {
          font-size: 1rem;
        }
  }
}
